*{
  font-family: 'Inter', sans-serif;
}
body{
  margin:0;
}
.nav-header{
  margin: auto;
  padding: 1%;
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
}

.nav-div{
  margin: auto;
  display: flex;
}

.nav-title{
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  margin: 0;
  padding-left: 5px;
}

.nav-image{
  width: 20px;
  height: 20px;
}

.card {
  margin: auto;
  padding-top: 40px;;
  width: 600px;
  height: 200px;
  font-size: 12px;
  display: flex;
}
.card-overview{
  padding-left: 3%;
}
.card-image{
  width: 180px;
  height: 200px;
}

.card-title{
  display: flex;
  justify-content: flex-start;
}

.card-url{
  padding-left: 15px;
  padding-top: 10px;
  font-size: 10.24px;
  text-decoration-line: underline;
  color: #918E9B;
}

.card-location{
  font-weight: 400;
  font-style: normal;
  font-size: 10.24px;
  letter-spacing: 0.17em;
}

.card-logo{
  width: 15px;
  height: 15px;
  padding-top: 8px;
}

.card-description{
  z-index: 2;
}

.card-tle{
  margin-top:0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

.card-date{
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
}
#card-des{
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
}